.Mate {
    .card {
        border: 0.5px solid rgb(196, 196, 196);
        border-radius: 20px;
        background-color: white;
        width: 16rem;
        .cover-photo {
            height: 8rem;
            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .profile-photo {
            img {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                position: relative;
                top: -40px;
            }
        }
        .text-wrapper {
            p  {
                line-height: 0.5;
            }
            .description {
                font-size: 12px;
            }
        }
    }
}