.coursecontent{
    .normal-content-list{
        display: block;
    }
    .mobile-content-list{
        display: none;
    }

    @media (max-width : 990px){
        .normal-content-list{
            display: none;
        }
        .mobile-content-list{
            display: block;
        }
    }
}