.chat_main {
	width: 638px;
	border-radius: 15px;
}

.chat_side {
	overflow: hidden;
	border-radius: 15px;
	width: 304px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(0, 0, 0, 0.12);

	.side_head {
		border-bottom: 1px solid rgba(64, 64, 64, 0.153);
		padding-bottom: 20px;

		.side_title {
			height: 19px;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #212121;
			padding: 24px;
		}

		.side_search {
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 0px;
			width: 255px;
			height: 29px;
			background: #ffffff;
			border: 0.6px solid #ced4da;
			border-radius: 2px;
			flex: none;
			order: 0;
			flex-grow: 1;
			margin: 0 auto;
		}

		.mates-list {
			top: 3rem;
			left: 110%;
			width: 80%;
			max-height: 60vh;
			overflow-y: scroll;
			background-color: #f1f1f1;
			transition: 0.6s all cubic-bezier(0.47, 0.84, 0.37, 1.15);
			&.drop {
				left: 10%;
			}

			.pop-down-mate {
				cursor: pointer;
				border-bottom: 1px solid #9a9a9a;
				.mate-pic {
					border-radius: 50%;
					img {
						width: 3rem;
						height: 3rem;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.icon {
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

.chat_nav {
	padding: 15px 10px 0px 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	border-bottom: 1px solid rgba(64, 64, 64, 0.153);
	.nav_img {
		width: 45px;
		height: 45px;

		img {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			object-fit: fill;
		}
	}

	.nav_data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		h2 {
			height: 19px;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
		}
		p {
			height: 16px;
			font-style: normal;
			font-weight: 300;
			font-size: 12px;
			line-height: 14px;
			color: #212121;
			.active_now_icon {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: rgb(95, 255, 47);
			}
			.not_active_now_icon {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: rgb(255, 47, 47);
			}
		}
	}
}

.visible-section {
	p {
		line-height: 0.5;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}

	.w-13 {
		font-size: 0.9rem;
	}
	.w-10 {
		font-size: 10px;
	}
	.follow {
		font-size: 0.75rem;
		color: #0080ff;
		padding: 0.2rem 0.5rem;
		border-color: #0080ff;
	}
	.userChat_pic {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		object-fit: fill;
	}
}

//scrolll
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #ffff;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.messages_wrapper {
	width: 100%;
	height: calc(100vh - 13rem);
	overflow-y: scroll;
	padding: 15px;
	background-color: white;

	.message {
		display: flex;
		gap: 30px;
		margin-bottom: 20px;

		.messageInfo {
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
		}

		.messageContent {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			p {
				max-width: 75%;
				padding: 5px 10px;
				background: #ebebeb;
				border-radius: 6.25px;
				margin: 0;

				word-wrap: break-word;
				white-space: pre-wrap;
				word-break: break-word;

				// line-break: anywhere;
			}
			img {
				width: 55%;
				border-radius: 5px;
			}
			span {
				font-size: 13px;
			}
		}

		&.owner {
			flex-direction: row-reverse;
			.messageContent {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
				p {
					background: rgba(0, 128, 255, 0.2);
				}
				img {
					width: 70%;
				}
			}
		}
	}
}

.input_wrapper {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
	// padding: 20px 40px 20px 40px;
	border-radius: 15px;
	.msg_input {
		box-sizing: border-box;
		height: 34px;
		background: #9191912e;
		border-radius: 15px;
		outline: none;
		border: none;
		padding: 5px 10px;
		flex: 1;
		&::placeholder {
			position: absolute;
			height: 19px;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;

			color: #455a64;
		}
	}
	.preview {
		background-color: #f1f1f1;
		bottom: 100%;
		padding: 0.5rem;
		width: fit-content;
		border-radius: 10px;
		&:hover img {
			scale: 1.1;
		}
		.preview-img {
			overflow: hidden;
			width: 10rem;
			& > img {
				width: 100%;
			}
		}
		.preview-vid {
			width: 10rem;
			& > video {
				width: 100%;
			}
		}
		.preview-voice {
			audio {
				color: #0080ff;
			}
		}
		& > span {
			cursor: pointer;
			color: #657780;
			padding: 10px;
			&:hover {
				color: #212121;
			}
		}
	}
	.icon {
		cursor: pointer;
	}
	.uploading {
		background-color: #f1f1f1;
		bottom: 100%;
		padding: 0.5rem;
		width: 50%;
		border-radius: 10px;
	}
	.toggler {
		font-size: 1.8rem;
	}
	.pop-up {
		bottom: 3rem;
		left: 0.5rem;
		overflow: hidden;
		z-index: 9;
		.icons {
			display: flex;
			flex-direction: column;
			gap: 15px;
			top: 10rem;
			padding: 3px;
			transition: 0.5s all cubic-bezier(0.47, 0.84, 0.37, 1.15);
			&.toggle {
				top: 0rem;
			}
			.icon {
				font-size: 2rem;
				padding: 7px;
				border-radius: 20%;
				background-color: #f1f1f1;
				box-shadow: 1px 1px 2px 0px rgb(217, 217, 217);
				&:hover {
					scale: 1.1;
					box-shadow: 1px 1px 5px 0px rgb(217, 217, 217);
				}
			}
		}
	}
	& > img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		object-fit: contain;
	}
}
