.iframe_wrapper {
  margin-top: 1rem;

  border-radius: 30px;
  overflow: hidden;

  background: white;
  h4 {
    padding: 1.5rem 0rem 1.5rem 2rem;
  }
}


.course_heading{
  .rating{
    .gold {
      color: gold;
    }
  }
}