.popup-chat-container {
    position: absolute;
    bottom: 0;
    right: 1rem;
    border: 0.5px solid rgb(196, 196, 196);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
    z-index: 2000;
    height: 25rem;
    width: 20rem;

    .chat-header {
        border-bottom: 1px solid rgb(196, 196, 196);
        img {
            border-radius: 50%;
        }
        .chat-toggle {
            cursor: pointer;
        }
    }
    .chatBody {
        background-color: white;
        p {
            font-size: 14px;
            background-color: rgb(196, 196, 196);
            border-radius: 20px;
        }
        img {
            border-radius: 50%;
        }
    }
    .chatFooter {
        background-color: white;
        margin-top: 108px;
        input {
            background-color: #dfdfdf;
            border: none;
            border-radius: 25px;
            height: 34px;
            &:focus{
                outline: none;
            }
        }
        .sendMsg {
            font-size: 25px;
            cursor: pointer;
        }
    }
}