.profile {
  .cover_photo {
    max-height: 13.125rem;
    overflow: hidden;
    img {
      object-fit: fill;
      width: 100%;
    }
  }

  .person {
    position: relative;
    top: -70px;
    left: 3.5rem;
    .profile_img {
      width: 9rem;
      max-height: 9rem;
      img {
        width: 100%;
        object-fit: fill;
      }
    }
  }
  .edit_and_matList {
    .edit,
    .mates {
      font-size: 1.6rem;

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
