.profile {
	.cover_photo {
		height: 13.125rem;
		overflow: hidden;
		img {
			object-fit: fill;
			width: 100%;
		}
	}

	.person {
		position: relative;
		top: -5rem;
		left: 3.5rem;
		.profile_img {
			width: 9rem;
			height: 9rem;
			background-color: aliceblue;
			overflow: hidden;
			img {
				width: 9rem;
				height: 9rem;
				object-fit: contain;
			}
		}
	}
	.follow {
		height: 3rem;
	}
	.edit_and_matList {
		.edit,
		.mates {
			font-size: 1.6rem;

			a {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	.upload-cvr-photo {
		position: relative;
		bottom: 2.5rem;
		width: 200px;
		input {
			position: relative;
			z-index: 2;
			opacity: 0;
			cursor: pointer;
		}
		.btn {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			border-radius: 6px;
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.347);
			border: none !important;
			color: white;
			&:hover {
				background-color: rgba(255, 255, 255, 0.347);
				color: black;
			}
		}
	}
	.upload-profile-photo {
		// width: 20%;
		position: absolute;
		top: 7rem;
		left: 7rem;
		width: 50px;
		height: 50px;
		background-color: white;
		border-radius: 50%;

		input {
			position: relative;
			z-index: 2;
			opacity: 0;
			cursor: pointer;
		}
		.btn {
			border-radius: 50%;
			height: 58px;
			position: absolute;
			z-index: 1;
		}
	}
	.camera {
		font-size: 28px;
	}
	.cvr-img-confirm {
		position: relative;
		bottom: 4.5rem;
		left: 50%;
		width: 25%;
		.btn {
			width: 100px;
			height: 33px;
		}
	}
	.prf-img-confirm {
		.btn {
			width: 100px;
			height: 33px;
		}
	}

	.profile_content {
		justify-content: space-around;
		main {
			width: 55%;
		}
		aside {
			width: 25%;

			// top: 30rem;
			// right: 2rem;
			left: auto;
			display: block;
		}
		.fixed-top {
			z-index: 0;
		}
	}
}
