.component-layout {
	width: 100%;
	border: 0.5px solid rgb(196, 196, 196);
	border-radius: 1rem;
	background-color: white;
	z-index: 1000;
	h4 {
		font-size: 1rem;
	}
	.visible-section {
		p {
			line-height: 0.5;
		}
	}
	.show-more-section {
		border-top: 0.5px solid rgb(196, 196, 196);
		p {
			color: #0080ff;
			cursor: pointer;
			margin-bottom: 0.5rem;
		}
	}
	img {
		border-radius: 50%;
	}
}
