@import '../../assets/sass/mixin';

.component-layout {
	width: 100%;

	border: 0.5px solid rgb(196, 196, 196);
	border-radius: 1rem;
	background-color: white;
	z-index: 1000;
	h4 {
		font-size: 1rem;
	}
	.visible-section {
		p {
			line-height: 0.5;
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
		}
	}
	.suggs-wrapper {
		overflow: hidden;
		padding: 0.5rem;
		padding-right: 0;
		height: 13rem;
		@include mediaQ(xxlg) {
			height: 15rem;
		}
		border-top: 0.5px solid rgb(196, 196, 196);
		p {
			// color: #0080ff;
			cursor: pointer;
			margin-bottom: 0.5rem;
		}

		.swiper {
			width: 100%;
			height: 100%;
			.swiper-slide {
			}
		}
	}
}

// .seemore {
// 	max-height: 500px;
// 	overflow: hidden;
// }
// .seeless {
// 	max-height: 350px;
// 	overflow: hidden;
// }
