@import '../../assets/sass/mixin';

.suggs-wrapper {
	.visible-section {
		.w-13 {
			font-size: 0.9rem;
		}
		.w-10 {
			font-size: 0.55rem;
		}
		p {
			margin-top: 5px;
		}
		.follow {
			font-size: 1.25rem;
			padding: 0.2rem 0.5rem;
			color: hsl(0, 0%, 26%);
			cursor: pointer;
			&:hover {
				color: hsl(210, 100%, 50%);

				scale: 1.2;
			}
		}

		a {
			text-decoration: none;
			color: inherit;
		}
		.user-photo {
			width: 2rem;
			height: 2rem;
			overflow: hidden;
			border-radius: 50%;
			@include mediaQ(lg) {
				width: 2.5rem;
				height: 2.5rem;
			}
			@include mediaQ(xlg) {
				width: 2.7rem;
				height: 2.7rem;
			}
			@include mediaQ(xxlg) {
				width: 3rem;
				height: 3rem;
			}
			img {
				width: inherit;
				height: inherit;
				object-fit: cover;
			}
		}
	}
}
