.visible-section{
    .w-13 {
        font-size: 0.9rem;
    }
    .w-10{
        font-size: 10px;
    }
    .follow{
      font-size: 0.75rem;
      color: #0080FF;
      padding: 0.2rem 0.5rem;
      border-color: #0080FF;
    }
}