.discussion-post {
	width: 80%;
	padding: 2rem;
	background-color: white;
	border-radius: 1.25rem;
	img {
		border-radius: 50%;
		width: 2.5rem;
		height: 2.5rem;
		object-fit: cover;
	}
	.interact-icon {
		cursor: pointer;
		font-size: 13px;
	}

	.reply {
		width: 100%;
		.reply-arrow {
			font-size: 42px;
			color: #c5c9cc;
		}
		.reply-input {
			width: 80%;
			.input-text {
				border: 0.0625rem solid #c5c9cc;
				border-radius: 0.625rem;
				background: white;
				resize: none;
				height: 3.125rem;
				&:focus {
					outline: none;
				}
			}
			.submit-icon {
				cursor: pointer;
			}
		}
	}
	.post-body {
		margin-left: 5rem;
	}
	.inst-badge {
		width: 1rem;
		height: auto;
	}
	.description {
		font-size: 0.7rem;
	}
}
