$PrimaryColor: #1d2224;
$secondaryColor: #ffffff;
$terColor: #0080ff;
$quatColor: #686868;

.dropdown-container {
	padding: 0;
	// GENERAL STYLES:
	.f-roboto {
		font-family: 'Roboto', sans-serif;
	}
	.fw4 {
		font-weight: 400;
	}
	.fw5 {
		font-weight: 500;
	}

	a {
		text-decoration: none !important;
	}
	// DROPDOWN STYLE:
	.dropdown-icon {
		.nav-icon {
			color: $secondaryColor;
		}
		.nav-icon.active {
			color: $quatColor;
		}
		.notifiesCount {
			background-color: red;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 12px;
			top: -0.2rem;
			left: 1.30rem;
		}
		.ping-wrapper {
			position: absolute;
			top: -0.5rem;
			left: 0.85rem;
			.ring {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				position: absolute;
				animation-name: ani;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-direction: normal;
				animation-duration: 2.5s;
			}
			@keyframes ani {
				0% {
					transform: scale(0);
				}
				99% {
					transform: scale(1);
				}
				100% {
					transform: scale(1);
					opacity: 0;
				}
			}
			#r1 {
				animation-delay: -1s;
				background-color: #f94f4f;
			}
			#r2 {
				animation-delay: -2s;
				background-color: #ff0000;
			}
			#r3 {
				animation-delay: -3s;
				background-color: #ff0000;
			}
		}
	}
	.dropdown {
		width: 17rem;
		background-color: $PrimaryColor;
		border-bottom-left-radius: 0.625rem;
		border-bottom-right-radius: 0.625rem;
		position: absolute;
		top: 100%;
		right: 3%;
		margin: 0.4375rem;
		padding: 0.9375rem;
		padding-top: 0;
		padding-bottom: 0.5rem;
		max-height: 50vh;
		overflow-y: auto;
		.user-img {
			padding: 0;
			margin: 0;
			img {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		.user-name {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 1rem;
			color: $secondaryColor;
		}
		.row:hover {
			background-color: $quatColor;
		}
	}
}
.notify:not(:last-of-type) {
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}
.notify {
	padding: 0.5rem 0;
}
