$PrimaryColor: #1d2224;
$secondaryColor: #ffffff;
$terColor: #0080ff;
$quatColor: #686868;

.dropdown-container {
	// GENERAL STYLES:
	.f-roboto {
		font-family: 'Roboto', sans-serif;
	}
	.fw4 {
		font-weight: 400;
	}
	.fw5 {
		font-weight: 500;
	}

	a {
		text-decoration: none !important;
	}
	// DROPDOWN STYLE:
	.dropdown-icon {
		.nav-icon {
			color: $secondaryColor;
		}
		.nav-icon.active {
			color: $quatColor;
		}
		.notifiesCount {
			background-color: red;
			width: 16px;
			height: 16px;
			border-radius: 50%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            top: -6px;
            left: 6px;
		}
	}
	.dropdown {
		width: 25%;
		background-color: $PrimaryColor;
		border-bottom-left-radius: 0.625rem;
		border-bottom-right-radius: 0.625rem;
		position: absolute;
		top: 100%;
		right: 3%;
		margin: 0.4375rem;
		padding: 0.9375rem;
		max-height: 50vh;
		overflow-y: scroll;
		.user-img {
			width: 3.4375rem;
			height: 2.5rem;
			border-radius: 50%;
			margin: 0.3125rem 0 0.3125rem 0.3125rem;
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.user-name {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 1rem;
			color: $secondaryColor;
		}
		.row:hover {
			background-color: $quatColor;
		}
	}
}
