$PrimaryColor: #1D2224;
$secondaryColor: #FFFFFF;
$terColor:  #0080FF;
$quatColor: #686868;

.navbar-container{
    width: 84%;
    color: $secondaryColor;
    background-color: $PrimaryColor;
    left: 16%;
    padding: .625rem 1.875rem;
    // GENERAL STYLES:
    .f-roboto{
        font-family: 'Roboto', sans-serif;
    }
    .fw4{
        font-weight: 400;
    }
    .fw5{
        font-weight: 500;
    }
    
    a{
        text-decoration: none !important;
    }
    .nav-content{
        .nav-search-container{
            input{
                width: 25%;
                padding: .125rem .625rem;
                border-radius: .3125rem;
                border: none;
                color: $PrimaryColor;
                transition: all 1s;
            }
            input:hover, input:focus{
                width: 45%;
                outline: none;
            }
        }
        .dropDown-menu{
            button{
                background-color: transparent;
                border: none;
            }
            .dropdown-menu{
                background: $PrimaryColor;
                // border: 1px solid $secondaryColor;
                border-radius: 0px 0px 15px 15px;
                .dropdown-item{
                   color: $secondaryColor; 
                    border-top: .0313rem solid $quatColor;
                    font-weight: 400;
                    font-size: .875rem;
                    line-height: 1rem;
                    .chat-user-info{
                        .user-img{
                            width: 2.8125rem;
                            height: 2.8125rem;
                            border-radius: 50%;
                            margin: .3125rem auto;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                        .msg-num{
                            width: .9375rem;
                            height: .9375rem;
                            border-radius: 50%;
                            background-color: $quatColor;
                            text-align: center;
                            font-size: .625rem;
                        }
                    }
                }
                .dropdown-item:hover{
                    background-color: $PrimaryColor;
                    color: $secondaryColor;
                }
                .user-info{
                    width: 100%;
                    padding: 2%;
                    text-align: center;
                    .user-img{
                        width: 2.8125rem;
                        height: 2.8125rem;
                        border-radius: 50%;
                        margin: .3125rem auto;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .user-name{
                        font-size: 1rem;
                        line-height: 1.1719rem;
                    }
                    .user-profile{
                        font-size: .75rem;
                        line-height: .875rem;
                    }
                }
            }
            &.dropdown-hover{
                .dropdown-item:hover{
                    background-color: $quatColor;
                }
            }
            .dropdown-toggle::after{
                display: none !important;
            }
        }
        .nav-icons{
            .nav-user-img{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                text-align: center;
            }
            .nav-icon{
                color: $secondaryColor;
                font-size: 1.125rem;
            }
        }
    }  
}

