.coursediscussion{
    .input-container{
        width: 80%;
        background-color:#F1F1F1;
        box-shadow: 0 0 .3125rem .0625rem rgba(0, 0, 0, 0.25);
        border-radius: .9375rem;
        .input-text{
            background-color:#F1F1F1;
            resize: none;
        }
        .input-text:focus{
            outline: none;
        }
        .submit-icon{
            cursor: pointer;
        }
        .prev-click{
            pointer-events: none;
            color: rgb(117, 116, 116);
        }
    }
}