$mainColor: #0080ff;
$gray: #918e8e;

.filter {
  border: 2px solid #f1f1f1;
  border-radius: 20px;
  padding: 1rem;

  .topics_wrapper {
    object-fit: fill;
    .topic_btn {
      color: $mainColor;
      border: 2px solid $mainColor;
      padding: 0.1rem 0.5rem;
      font-size: 1.2rem;
      margin: 0.5rem 0.5rem 0.5rem 0rem;
      cursor: pointer;
      @media only screen and (min-width: 992px) and (max-width: 1999px) {
        padding: 0.1rem 0.3rem;
      }
    }
  }
  .sort_wrapper {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 1px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $gray;
    }
  }
  .more_lesson {
    .form-check-input[type="checkbox"] {
      border-radius: 50% !important;
    }
  }
}
