//
.topics-suggestion-layout {
    overflow: hidden;

  .course_img {
    position: relative;
    transition: all 0.7s;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #0080ff;
	  color: white;
      inset: 0;
      opacity: 0;
      text-align: center;
      transition: all 0.7s;
    }
    &:hover .overlay {
      opacity: 0.9;
    }
  }

  .swiper-button-prev:after
  {
    content: " ";
  }
  .swiper-button-next:after
  {
    content: " ";
  }
  .swiper-pagination{

	display: none;
  }
}
