.topics-suggestion-layout {
    position: absolute;
    top: 23rem;
    right: 11rem;
    border: 0.5px solid rgb(196, 196, 196);
    border-radius: 20px;
    background-color: white;
    h4 {
        font-size: 17px;
    }
    .show-more-section{
        border-top: 0.5px solid rgb(196, 196, 196);
        p {
            color: #0dcaf2;
            cursor: pointer;
            }
    }
    .plus-icon {
        color: #0dcaf2;
    }
}