.post {
	.user-photo {
		width: 45px;
		height: 45px;
		overflow: hidden;
		border-radius: 50%;
		img {
			width: 100%;
		}
	}
	.user-description {
		font-size: 0.85rem;
	}
	.post-image {
		max-height: 300px;
		img {
			width: 100%;
		}
	}
	.tag {
		text-decoration: none;
		color: #0080ff;
		font-size: 0.75rem;
		border-color: #0080ff !important;
	}
	.btn {
		.icon {
			position: relative;
			bottom: 0px;
			transition: 0.2s all ease-in-out;
		}
		&:active {
			border-color: transparent;
			.icon {
				bottom: 7px;
				rotate: 12deg;
				scale: 1.3;
			}
		}
	}

	.comments {
		.user-photo {
			width: 40px;
      height: 40px;
			img {
				width: 100%;
				object-fit: contain;
			}
		}
		.user-name {
			font-size: 0.75rem;
		}
		.comment-body {
			width: 80%;
      margin-left: 1rem;
      font-size: 0.85rem;
		}
	}
}
